@use '@stihl-design-system/components/styles/scss/ds';

.section {
  // **************************************************************
  // See /src/components/Header/Hero/Hero.module.scss for more information
  // about how to use the STIHL Design System Grid.
  // **************************************************************

  // Initializes the grid layout for the section container.
  // This enables us to place the content inside the section container
  // along the predefined grid areas.
  @include ds.grid;

  // Using dynamic-spacing token here to ensure consistent spacing across breakpoints.
  // This removes the need to adjust the spacing values manually with media queries in
  // the application's stylesheets.
  margin-block-end: ds.$spacing-dynamic-m;
}

.first-third {
  // Places the content in the predefined "first-third" column.
  @include ds.grid-first-third;

  // Ensures the image scales proportionally even when the width & height is set in the <img>
  // element.
  height: auto;
}

.two-thirds {
  // Places the content in the predefined "two-thirds" column.
  @include ds.grid-span-two-thirds;
}

.heading {
  // Using dynamic-spacing token here to ensure consistent spacing across breakpoints.
  // This removes the need to adjust the spacing values manually with media queries in
  // the application's stylesheets.
  margin-block-end: ds.$spacing-dynamic-xs;
}

.text {
  max-width: 34rem;
}

.link {
  // Using dynamic-spacing token here to ensure consistent spacing across breakpoints.
  // This removes the need to adjust the spacing values manually with media queries in
  // the application's stylesheets.
  margin-block-start: ds.$spacing-dynamic-xs;
}
