@use '@stihl-design-system/components/styles/scss/ds';

.language-select-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: ds.$spacing-4;
}

.language-filter {
  padding-block-end: ds.$spacing-4;
}

.list-heading {
  @include ds.utility-small;
  color: ds.$theme-light-content-color-secondary;
  padding-block: 10px;
  padding-inline: ds.$spacing-16;
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  background-color: ds.$theme-light-border-color-tertiary;
  margin-block: ds.$spacing-6;
}
