@import '@stihl-design-system/components/styles/scss';

// **************************************************************
// The STIHL Design System Grid mixin is used in this example app.
// It is based on the native CSS Grid and provides a simple way to create
// responsive grid layouts.
// The STIHL Design System Grid is built to be used in a standard 'row-based' layout
// where every row is a grid container and every column is a grid item.
// See full documentation for the STIHL Design System Grid at:
// https://main--63440bbb95889041542a5ba3.chromatic.com/?path=/docs/styles-grid-grid--documentation
// **************************************************************

.top-bar {
  // Initializes the grid layout for the top bar container.
  // This enables us to place the contents inside the top bar along
  // the predefined grid areas.
  @include ds-grid;

  background-color: $ds-color-core-grey-mid;
  min-height: max-content;
}

.top-bar-content {
  // Places the top-bar-content element in the predefined 'main' column.
  @include ds-media-query-max('l') {
    @include ds-grid-extended-column;
  }

  @include ds-media-query-min('l') {
    @include ds-grid-main-column;
  }
}

.logo {
  width: 114px;
  height: 50px;

  @include ds-media-query-min('m') {
    width: 128px;
    height: 56px;
  }

  @include ds-media-query-min('l') {
    width: 137px;
    height: 60px;
  }
}
