@use '@stihl-design-system/components/styles/scss/ds';

// Styles for the language selection list
.list {
  display: flex;
  flex-direction: column;
  gap: ds.$spacing-4;

  // reset native ul styles
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Styles for the group headings in the language list.
.list-heading,
.version {
  @include ds.utility-small;
  color: ds.$theme-light-content-color-secondary;
  padding-block: ds.$spacing-6;
  padding-inline: ds.$spacing-16;
}

.version {
  @include ds.utility-medium;
}

.horizontal-divider {
  height: 0.0625rem; // 1px but in rem to cover font-size: 200%
  width: 100%;
  background-color: ds.$theme-light-border-color-tertiary;
  // Horizontal divider normal got 6px block margin, but since in Figma it is all in one flex-container with
  // 4px gap, and in code we don't do that, we need to add those 4px gap to our block margin.
  margin-block: 10px;
}

// We're using an ActionButton with slight modifications for the Account Avatar Button.
.avatar-button {
  padding-block: ds.$spacing-6;
  padding-inline: 7px;
}

// Styles for the avatar placeholder that is passed to the ActionButton.
.avatar {
  color: ds.$color-core-grey-deep;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: ds.$theme-light-background-color-secondary;
  border: 1px solid ds.$theme-light-border-color-tertiary;
  display: flex;
  align-items: center;
  justify-content: center;

  // Align with letter spacing of 5% in Figma.
  letter-spacing: 0.05em;

  @include ds.utility-medium-bold();
}

// Styles for the upper part of the account menu.
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 18.75rem;
  padding-inline: ds.$spacing-16;
  padding-block: 10px;

  &--left {
    display: flex;
    flex-direction: column;
    gap: ds.$spacing-8;
    align-items: start;
  }

  // The avatar has been modified to be larger and more prominent.
  .avatar {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    letter-spacing: 0px;
    @include ds.heading-large-uppercase();
  }
}
