@use '@stihl-design-system/components/styles/scss/ds';
@import '@stihl-design-system/components/styles/fonts';

// Since the STIHL Design System have a CSS Layer called 'ds-reset' around the reset styles,
// we can use the @layer directive to ensure that our custom styles are applied after the reset styles
// and therefore have higher specificity.
@layer ds-reset, app-base;

// Create a CSS Layer for the base styles of the app.
@layer app-base {
  body {
    display: flex;
    flex-direction: column;
    // body has a min-height of 100vh so that footer is at the bottom of the page
    min-height: 100vh;
  }

  // Add default STIHL inline link styling to all links that do not have a class
  // Use :where() to avoid specificity issues.
  :where(a:not([class])) {
    @include ds.link();

    &.link-highlight {
      @include ds.link('highlight');
    }
  }

  main {
    // make main content grow so that footer is always at the bottom of the page
    flex: 1;
  }

  img {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .max-text-width {
    // Text paragraphs should have a max-width of 34rem to ensure readability.
    // This is a design decision made by the STIHL Design System team.
    // The value is based on the font size and line height of the body text.
    // The max-width is set to 34rem to ensure that the text does not stretch too wide
    // and become difficult to read.
    max-width: 34rem;
  }
}
