@use '@stihl-design-system/components/styles/scss/ds';

.footer {
  background: ds.$color-core-grey-light;

  // **************************************************************
  // See /src/components/Header/Hero/Hero.module.scss for more information
  // about how to use the STIHL Design System Grid.
  // **************************************************************

  // Initializes the grid layout for the footer container.
  // This enables us to place the contents inside the footer container
  // along the predefined grid areas.
  @include ds.grid;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  // Style normal text to look like a headline.
  // For accessibility reasons, we do not use h4 tags in the layout footer since it makes it harder to
  // keep the correct heading hierarchy on each page.
  .headline {
    margin-block-end: ds.$spacing-16;

    // We're using the <DSText /> component with adjusted weight & size prop to make it look like a headline.
    // Another approach would be to use a simple <p> - tag and the ds.heading-small scss mixin.
    // See https://main--63440bbb95889041542a5ba3.chromatic.com/?path=/docs/components-typography-heading--documentation
    // @include ds.heading-small;
  }

  li:not(:last-child) {
    margin-block-end: ds.$spacing-8;
  }
}

.footer-content {
  // Places the footer-content element in the predefined 'main' column.
  @include ds.grid-main-column;
  display: grid;

  // Using dynamic-spacing token here to ensure consistent spacing across breakpoints.
  // This removes the need to adjust the spacing values manually with media queries in
  // the application's stylesheets.
  padding-block: ds.$spacing-dynamic-l;

  grid-template-columns: repeat(2, 1fr); // Two columns for mobile
  grid-template-rows: repeat(2, 1fr); // Two rows for mobile

  column-gap: ds.$spacing-dynamic-xs;
  row-gap: ds.$spacing-24;

  @include ds.media-query-min('m') {
    grid-template-columns: repeat(4, 1fr); // Four columns for larger screens
    grid-template-rows: 1fr; // Single row for larger screens
  }
}
