@import '@stihl-design-system/components/styles/scss';

.footer {
  // **************************************************************
  // See /src/components/Header/Header.module.scss for more information
  // about how to use the STIHL Design System Grid.
  // **************************************************************

  // Initializes the grid layout for the footer container.
  // This enables us to place the contents inside the footer container
  // along the predefined grid areas.
  @include ds-grid;
  background: $ds-color-core-grey-light;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  h2,
  li {
    margin-block-end: $ds-spacing-8;
  }
}

.footer-content {
  // Sets the footer-content element to be a main content area
  // by using the predefined grid area 'main'.
  @include ds-grid-main-column;

  display: flex;
  justify-content: space-between;
  padding-block: $ds-spacing-24;
  flex-direction: column;
  gap: $ds-spacing-24;

  @include ds-media-query-min('m') {
    flex-direction: row;
  }
}
