@use '@stihl-design-system/components/styles/scss/ds';

// Styles for the STIHL World Apps navigation list
.list {
  display: flex;
  flex-direction: column;
  gap: ds.$spacing-4;
  min-width: 15.25rem;

  // reset native ul styles
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Add some spacing to the app switch heading
.heading {
  padding-inline: ds.$spacing-16;
  padding-block-start: ds.$spacing-6;
  padding-block-end: ds.$spacing-6;
}

.horizontal-divider {
  height: 0.0625rem; // 1px but in rem to cover font-size: 200%
  width: 100%;
  background-color: ds.$theme-light-border-color-tertiary;
  margin-block: ds.$spacing-6;
}
